# © 2024 Fraunhofer-Gesellschaft e.V., München
#
# SPDX-License-Identifier: AGPL-3.0-or-later

name: renovate
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    # The "*" (#42, asterisk) character has special semantics in YAML, so this
    # string has to be quoted.
    # Also see http://crontab.cronhub.io/
    #
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.5
        with:
          # In order for this to work, create a github token under
          # https://github.com/settings/tokens
          # with the scope repo => public_repo
          # and a corresponding secret "RENOVATE_TOKEN" for the ropo or organization, e.g
          # https://github.com/organizations/fraunhofer-society/settings/secrets/actions
          # Also see
          # https://docs.renovatebot.com/modules/platform/github/
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: ./.github/renovate.json5
        env:
          RENOVATE_AUTODISCOVER: true